{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<style>
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:50px;
        margin-bottom:40px;
        
    }
    .espacer {
        margin-bottom: 10px;
    }
    .centrer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }
</style>
<div class="form">
    <h1>S'inscrire</h1>
    <div class="espacer">
    {{ form_start(registrationForm) }}
    </div>
        <div class="espacer">{{ form_row(registrationForm.prenom) }}</div>
        <div class="espacer">{{ form_row(registrationForm.nom) }}</div>
        <div class="espacer">{{ form_row(registrationForm.genre) }}</div>
        <div class="espacer">{{ form_row(registrationForm.email) }}</div>
        <div class="espacer">{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}</div>
        <div class="espacer">{{ form_row(registrationForm.agreeTerms, {label:'Accepter les conditions'}) }}</div>

    <button class="btn btn-lg btn-primary" type="submit">
        S'inscrire
    </button>
    {{ form_end(registrationForm) }}
    
    </div>
    <div class="centrer">
    <br><br>Vous avez un compte .. <a href="/login">se connecter</a><br><br><br>
    </div>
{% endblock %}
