{% extends 'base.html.twig' %}
{% block title %}Place de rencontre
{% endblock %}
{% block body %}
    <div class="vignette d-flex justify-content-center align-items-center flex-wrap">
        {% for profil in profils %}
            {% if profil.user != app.user %}
                <div class="contenu">
                    <div class="card mb-4" style="max-width: 18rem;">
                        {% for photo in photoProfil %}
                            {% if profil.id == photo.profil.id %}
                                <img src="{{ asset('Images/' ~ photo.nom) }}" class="card-img-top" alt="photo de {{ profil.prenom }}">
                                {% endif %}
                            {% endfor %}
                            <div class="card-body">
                                <h5 class="card-title">{{ profil.prenom }}
                                    {{ profil.age }}
                                    ans</h5>
                                <p class="card-text">Centres d'intérêts :
                                    {{ profil.centreInterets }}
                                    <br>Destinations souhaitées :
                                        {{ profil.DestinationsSouhaitees }}<br>Budget moyen :
                                            {{ profil.budget }}</p>
                                        <a href="{{ path('match', {'profilId':profil.id}) }}" class="btn btn-primary">Liker</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <style>
                        .vignette {
                            margin-top: 50px;
                            margin-bottom: 50px;
                        }
                        .card {
                            margin-bottom: 20px;
                            margin-right: 10px;
                            margin-left: 10px;
                        }
                        /* Pour les écrans de petite taille */
                        @media screen and(max-width: 767px) {
                            .contenu {
                                width: 100%;
                            }
                        }
                        /* Pour les écrans de taille moyenne */
                        @media screen and(min-width: 768px) and(max-width: 991px) {
                            .contenu {
                                width: 50%;
                            }
                        }
                        /* Pour les écrans larges */
                        @media screen and(min-width: 992px) {
                            .vignette {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    </style>
                {% endblock %}
